LOCAL_SERVER=localhost,1433
LOCAL_DATABASE=RetailMigrationDB
LOCAL_USERNAME=sa
LOCAL_PASSWORD=your_local_password

AZURE_SERVER=your_server.database.windows.net,1433
AZURE_DATABASE=RetailMigrationAzureDB
AZURE_USERNAME=azureadmin
AZURE_PASSWORD=your_azure_password